/* CSS for photo page */

.header {
}

.content {
    position: relative;
    width: 100%;
}

.photo img {
    border-width: 8px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #222222;
}

.photo .image {
   padding-left: 2em;
}

img.square {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin-right: 4px;
}

img.private {
    border-color: #FF9999;
}

img.current {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-right: 4px;
}

.sidebar {
   padding-left: 2em;
   padding-right: 0.5em;
}

.sidebar > div {
    margin-bottom: 1em;
}

a.deltag {
    text-decoration: none;
}

#map {
    width: 380px;
    height: 200px;
}

.infowindow a,
.infowindow a:visited {
    color: black;
}

.infowindow img {
    border-radius: 4px;
    width: 48px;
    height: 48px;
    vertical-align: top;
}
